apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lightning-catalog.fullname" . }}
  labels:
    {{- include "lightning-catalog.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "lightning-catalog.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "lightning-catalog.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "lightning-catalog.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: LIGHTNING_SERVER_PORT
              value: "{{ .Values.lightning.serverPort }}"
            - name: LIGHTNING_GUI_PORT
              value: "{{ .Values.lightning.guiPort }}"
            - name: LIGHTNING_API_URL
              value: "{{ .Values.lightning.apiUrl }}"
            - name: SPARK_DRIVER_MEMORY
              value: "{{ .Values.lightning.spark.driverMemory }}"
            - name: SPARK_EXECUTOR_MEMORY
              value: "{{ .Values.lightning.spark.executorMemory }}"
          ports:
            - name: api
              containerPort: {{ .Values.lightning.serverPort }}
              protocol: TCP
            - name: gui
              containerPort: {{ .Values.lightning.guiPort }}
              protocol: TCP
          {{- if .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: data
              mountPath: {{ .Values.persistence.mountPath }}
              {{- if and .Values.persistence.enabled .Values.persistence.subPath }}
              subPath: {{ .Values.persistence.subPath }}
              {{- end }}
      volumes:
        - name: data
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim | default (include "lightning-catalog.fullname" .) }}
          {{- else }}
          emptyDir: {}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
